### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [6]:
statement = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
row_count = print(statement.count('row'))

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [8]:
name = input('give me a name: ')
color = input('give me a color: ')
animal = input('give me an animal: ')

give me a name: Christiane
give me a color: Pink
give me an animal: Pig

In [18]:
print("{name} had a little {animal}.".format(name=name,animal=animal))
print("It was {color} as snow.".format(color=color))
print("And everywhere that {name} went, the {animal} was sure to go.".format(name=name,animal=animal))

Christiane had a little Pig.
It was Pink as snow.
And everywhere that Christiane went, the Pig was sure to go.

3. Print 3.14159 in a scientific number notation

In [23]:
print(f"{3.14159:e}")

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [26]:
print(f"{3.1559:.4}")

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [28]:
print(f"{1589.92341:3e}")

1.589923e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [29]:
39//2

19

In [31]:
19//2

9

In [32]:
9//2

4

In [33]:
4//2

2

In [34]:
2//2

1

In [35]:
1//2

0

In [36]:
39%2

1

In [37]:
19%2

1

In [38]:
9%2

1

In [39]:
4%2

0

In [40]:
2%2

0

In [41]:
1%2

1

In [54]:
print('The binary of 39 is',100111)
print(bin(39))
print(int(39))

The binary of 39 is 100111
0b100111
39

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [55]:
39//8

4

In [56]:
4//8

0

In [58]:
39%8

7

In [59]:
4%8

4

In [63]:
print('The octal number of 39 is', 47)
print(oct(39))
print(int(39))

The octal number of 39 is 47
0o47
39

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [64]:
36//16

2

In [65]:
2//16

0

In [66]:
36%16

4

In [68]:
2%16

2

In [70]:
print('The hexidecimal number of 36 is', 24)
print(hex(36))
print(int(36))

The hexidecimal number of 36 is 24
0x24
36

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [114]:
amount = int(input('give me an amount: '))
tax_rate = int(input('give me a tax rate: '))
tax_rate_decimal = tax_rate/100
calculated_tax = int(amount * tax_rate_decimal)
total = int(amount + calculated_tax)

give me an amount: 100
give me a tax rate: 5

#####

In [115]:
print('With the ${amount} amount and the {tax_rate}% tax rate. The calculated tax is ${calculated_tax}. This gives a grand total of ${total} dollars'.format(amount=amount,tax_rate=tax_rate,calculated_tax=calculated_tax,total=total))

With the $100 amount and the 5% tax rate. The calculated tax is $5. This gives a grand total of $105 dollars